# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/admin/node_modules
/admin/.pnp
/client/node_modules
/client/.pnp

# testing
/coverage
/admin/coverage
/client/coverage

# production
/build
/admin/build
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/admin/.DS_Store
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*

/admin/npm-debug.log*
/admin/yarn-debug.log*
/admin/yarn-error.log*
admin/.eslintcache

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/client/temp
/client/bug
/client/.eslintcache
client/.eslintcache
.gitignore
admin/.gitignore
asserts/img/icn_in-progress.svg
asserts/img/icons8-in-progress-96.png

asserts/cheddеr.png

